.container {
  background-color: rgba(218, 225, 232, 0.195);
}
.inmueble-inmueble_card {
  padding-top: 20px;
  background-color: rgba(218, 225, 232, 0.195);
}

.mas-inmuebles {
  padding-top: 20px;
  background-color: rgba(254, 254, 255, 0.195);
}

.ver-listado {
  text-align: center;
  border: 1px solid blue;
  height: 30px;
  width: 300px;
  border-radius: 40px;
  margin: 20px auto 0;
}

.ver-listado a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.facilidad-facilidad {
  background-color: rgba(218, 225, 232, 0.195);
}
