.ini{
  text-align: center;
  background: #1e0388;
  color: white;
  border-radius: 50px;
  width: 90%;
  margin: 50px auto;
  font-size: 25px;
}

.inmueble-inmueble_card {
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
}

.ver-listado{
margin-top: 10px;
}

.mas-inmuebles {
  padding-top: 20px;
  background-color: rgba(254, 254, 255, 0.195);
}

.ver-listado {
  display: block;
  text-align: center;
  border: 1px solid blue;
  height: 30px;
  width: 300px;
  border-radius: 40px;
  margin: 20px auto 0;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.facilidad-facilidad {
  background-color: rgba(218, 225, 232, 0.195);
}
