.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
}
.navbar {
  display: none;
}
.logo {
  margin-left: 10%;
}

.logo img {
  width: 115px;
  height: 65px;
}
.links {
  margin-right: 14%;
}

.links a {
  text-decoration: none;
  color: rgb(38, 48, 77);
  padding: 0 20px;
  font-size: 23px;
}

.links a:hover {
  color: rgb(49, 79, 170);
  font-size: 26px;
}
.acceder {
  margin-right: 10%;
}
.acceder input {
  background: rgb(17, 10, 212);
  width: 130px;
  height: 30px;
  border: none;
  font-size: 23px;
  border-radius: 15px;
  color: rgb(243, 243, 243);
}

@media (max-width: 950px) {
  .links {
    display: none;
  }

  .navbar {
    background-color: rgb(17, 10, 212);
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
  }

  .hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }

  .bar {
    width: 30px;
    height: 4px;
    background-color: white;
  }

  .nav-menu {
    display: none;
    /* Agrega más estilos según tus necesidades */
  }
}
